@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *)); 

:root{
    --headFoo: #D1D5DB;
    --base-bg: #ffffff;
    --accent: #EFF6FF;
    --secondary: #F3F4F6;
   
    
}



@theme {
    
    --color-headFoo: var(--headFoo);
    --color-base-bg: var(--base-bg);
    --color-hover-accent: var(--accent);
    --color-secondary-bg: var(--secondary);

}


